<% include partials/header %>

<% var limit = 5; %>

<% if(tag !== false) { %>
<h2 class="text-center">Your Favorites with the tag <b><%=tag%></b></h2>
<% } else { %>
<h2 class="text-center">Your Favorites</h2>
<% } %>
<div class="list-group col-sm-4 col-sm-offset-4">
    <div class="fav-list-group">
    <% for (var i = 0; i < favs.length; i++) { %>
        <% if(favs[i] === undefined) break; %>
        <div class="row fav-list">
            <div class="col-sm-12 favMovie">
                <a href="/movies/<%=favs[i].imdbid%>" class="list-group-item"><img src=<%=favs[i].poster%> class="thumbnail"><span class="fav-text"><%=favs[i].title%>, <em><%= favs[i].year %></em></span></a>
                <button class="btn btn-sm btn-danger deleteBtn" data="<%=favs[i].title%>" id="<%=favs[i].id%>">X</button>
                <a class="btn btn-sm btn-success tagBtn" href="/movies/<%=favs[i].imdbid%>/addtag">Add Tags</a>
                <a class="btn btn-sm btn-info commentBtn" href="/movies/<%=favs[i].imdbid%>#commentText">Comments<%=favs[i].comments !== undefined && (favs[i].comments.length > 0) ? ' ('+favs[i].comments.length+')':''%></a>
            </div>
            <!-- <div class="col-sm-1">
            </div> -->
        </div>
        <% } %>
    </div>
</div>
<div id="dialog" title="Confirm Deletion">
    <p></span>Did you want to delete <em id="dialog-title"></em> from your favorites?</p>
</div>

<div class="row">
    <div class="col-sm-4 col-sm-offset-4">
<nav>
  <ul class="pagination">
    <li>
      <a href="0" aria-label="Previous" id="previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <% for (var p = 0; p < favs.length/limit; p++) { %>
        <% if (p === 0) {%>
        <li class="disabled"><a href="1" class="pageBtn">1</a></li>
        <%} else {%>
        <li><a href="<%=p+1%>" class="pageBtn"><%=p+1%></a></li>
        <% } %>
    <% } %>
    <li>
      <a href="2" aria-label="Next" id="next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
</div>
</div>
<% include partials/footer %>